/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  background: #131317;
}
h1, h2, h3, h4, h5, h6, p, hr {
  color: white;
}
/* HEADER SCSS */
.header__link:hover {
  color: #018990 !important;
}
/* CAROUSEL SCSS */
.carousel .carousel-item img {
  object-fit: contain;
  max-height: 60vh;
  width: 100%;
}
/* CARD */
.card__body__container-image {
  height: 50vh;
  width: 90%;
}
.card__body {
  background: #018990;
}
/* INDIVIDUAL CARD */
.individual__container__row__col-image {
  height: 30vh;
  width: auto;
}
.individual__container__row__col-information {
  border: white 1px solid;
  border-radius: 8px;
}
/* MOVEMENT FORM */
.form__fields-label {
  color: white;
}
/* HISTORY */
.history__table-row:hover {
  cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
}
/* ABOUT */
.about__list>li {
  color: white;
}
/* NOT FOUND */
.not-found-img{
  height: 40vh;
  width: auto;
  border: 10px dashed #018990;
}